.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


li#pan {
  margin: 30px;
  list-style-type: none;
  display: inline-flex;
  list-style-position: inside;
  border: 4px solid #D89947;
  border-radius: 25px;
}

ul {
  text-align: center;
}

img {
  border: 7px solid white;
  max-width: 400px;
  max-height: 300px;
}

.continentDropdown {
  text-align: center;
  margin: 0 auto;
}

.filtered-list {
  display: grid;
  
}

.pancake {
  padding: 20px 40px;
  max-width: 500px;
  text-align: center;
}

.searcher {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
